@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,700,400,300&f[]=satoshi@700,500,300,400&display=swap");

/*  */
/*  */
/*  */
/*  */

html {
  position: relative;
  overflow: hidden;
}

.dropbtn {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: transparent;
  /* border: 1px solid #ddd; */
  border: none;
  color: #32b4e7;
  /* filter: drop-shadow(1px 1px #00adef); */
  min-width: 250px;
  padding: 14px 10px 10px;
  font-size: 35px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #dee764;
  /* border: 1px solid #ddd; */
  border: none;
  /* background-color: #dee764; */
}

#myInput {
  box-sizing: border-box;
  /* background-position: 14px 12px;
  background-repeat: no-repeat; */
  /* font-size: 16px; */
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 0.5px solid #ddd;
}

/* #myInput:focus {
  outline: 1px solid #ddd;
} */

.dropdown {
  position: absolute;
  right: 5vw;
  top: 3.5vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff82;
  /* min-width: 200px; */
  overflow: auto;
  /* border: 1px solid #ddd; */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 0px 5px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: #dee764;
}

.show {
  display: block;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.body-container {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  font-family: "Satoshi", sans-serif;

  font-weight: normal;
  font-size: 13px;
  /* line-height: 15vh; */
  text-align: center;
  /* padding-top: 5%; */
  z-index: 100;
}

/* .gif {
  max-height: 45vh;
} */

#text-container {
  position: relative;
}

.ghibli-container {
  font-size: 17px;
  z-index: 10;
  position: absolute;
  font-family: "Satoshi", sans-serif;
  color: white;
  padding: 25px;
  /* width: 200px; */
  top: 20vh;
  left: 5vw;
  width: 46vw;
  background-color: rgba(0, 0, 0, 0.547);
}

.gif-block {
  display: inline-block;
  /* padding: 15px; */
  text-align: center;
  max-width: 250px;
  max-height: 230px;
  object-fit: cover;
  /* margin: -5%; */
}

.sticky-block {
  display: inline-block;
  /* padding: 15px; */
  text-align: center;
  margin: -75px;
}

#sticky-container {
  display: flex;
  flex-direction: column;
  z-index: -5;
  position: absolute;
  top: 0;
  padding: 10%;
  width: 100vw;
}

#sticky-container img {
  display: absolute;
}

#gif-container {
  /* margin: 5% 25% 0; */
  z-index: -50;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 170vw;
  top: 0;
  left: 0;
}

button {
  padding: 5px 20px 5px;
}

.search-section {
  z-index: 100;
}

/* input {
  padding: 5px 20px 5px;
} */

#result {
  border: 1px dotted #ccc;
  padding: 3px;
}
#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#result ul li {
  padding: 5px 0;
}
#result ul li:hover {
  background: #eee;
}

@media only screen and (max-width: 700px) {
  /* header {
    left: 10%;
    width: fit-content;
    line-height: 2em;
  } */

  /* #gif-block {
    position: absolute;
    overflow: hidden;
    max-width: max-content;
    overflow: ;
    top: 8%;
    left: 5%;
  } */

  /* #text-container {
    display: relative;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
  } */
  .ghibli-container {
    font-size: 17px;
    z-index: -3;
    width: 75vw;
    position: absolute;
    font-family: "Satoshi", sans-serif;
    color: white;
    padding: 25px;
    margin: 0 auto;
    top: 15vh;
  }
}
